.GithubCorner {
  display: inline-block;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
}

.GithubCorner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .GithubCorner:hover .octo-arm {
    animation: none;
  }
  .GithubCorner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
